
<div class="container">
    <div class="navbar-brand d-flex align-items-center">
        <img src="https://main--mellifluous-daifuku-0da1ab.netlify.app/1.30d7d9dc.jpg" width="100" height="100" alt="" class="plank img-fluid">
        <a href="#" class="text-white" style="text-decoration: none;">
            <p class="amogus">Звёзды мирового хоккея</p>
        </a>
    </div>
    <button type="button" class="Atomic" id="toastbtn">Click</button>
</div>